/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


.search {
    flex-grow: 1;
    margin: 0 10px;
}
nav{
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 70px;
    width: 100vw;
}

.icons{
    display: flex;
    justify-content: center;
}

/* main */
main{
    width: 100vw;
    display: flex;
    height: calc(100vh - 60px);
}

.container-aside{
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: rgb(6, 23, 121);
}


.roster, a, .roster i{
    color: #ffff;
    padding-right: 10px;
}

.roster{
    display: flex;
    margin-bottom: 30px;
}


.button-aside{
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.button-1{
    display: flex;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #2163c0;
    background-color: #3173d1;
}

.content_dx{
    display: flex;
    justify-content: flex-end;
    
}

.content_dx span{
    padding: 5px 10px;
    

}

