/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    flex-grow: 1;
    margin: 0 10px;
}

.icons{
    display: flex;
    justify-content: center;
}

/* main */
main{
    width: 100%;
    display: flex;
    height: calc(100vh - 60px);
}

.container-aside{
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: rgb(6, 23, 121);
}

.roster, a, .roster i{
    color: #ffff;
    padding-right: 10px;
}

.roster{
    display: flex;
    margin-bottom: 30px;
}

.button-aside{
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}